<fieldset>
  <legend>Add new student</legend>
  <form action="/students" method="POST">
    <p>Name:</p>
    <input type="text" name="name">
    <p>Age:</p>
    <input type="number" name="age">
    <p>
      <input type="submit">
    </p>
  </form>
</fieldset>